<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"></ion-back-button>
    </ion-buttons>
    <ion-title>About App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
      <ion-row style="width:50%;margin-right:auto;margin-left:auto;">
        <ion-col><ion-img style="width:80%" src="https://images-na.ssl-images-amazon.com/images/I/81-yKbVND-L.png"></ion-img></ion-col>
      </ion-row>
      <ion-row style="width:50%;margin-right:auto;margin-left:auto;">
        <ion-col>
          <h1>Samuel Antoinne</h1>
        </ion-col>
      </ion-row>
      <ion-row style="width:50%;margin-right:auto;margin-left:auto;">
        <ion-col>
          <ion-list>
            <ion-item>
              NIM : 00000025003<br><br>
              Kelas : CL
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row style="width:50%;margin-right:auto;margin-left:auto;">
        <ion-col>
          <ion-list>
            <ion-item>
              Saya mengerjakan program UTS ini sendiri. Dibantu dengan modul-modul mingguan, beberapa saya ambil untuk referensi.
              Tidak ada library luar. Sayangnya setiap harinya saya memiliki jadwal UTS sehingga tidak dapat memenuhi seluruh kriteria
              program UAS ini sampai tuntas.
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
