<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/products"> </ion-back-button>
    </ion-buttons>
    <ion-title>Add Motherboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-list>
      <ion-item>
        <ion-label position="floating">ID</ion-label>
        <ion-input 
          type="text"
          ngModel
          name="id"
          #idCtrl="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!idCtrl.valid && idCtrl.touched">
        <ion-label style="font-size: 0.7em; color:red;"> ID is required </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input 
          type="text"
          ngModel
          name="name"
          #nameCtrl="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!nameCtrl.valid && nameCtrl.touched">
        <ion-label style="font-size: 0.7em; color:red;"> Name is required </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Brand</ion-label>
        <ion-input 
          type="text"
          ngModel
          name="brand"
          #brandCtrl="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!brandCtrl.valid && brandCtrl.touched">
        <ion-label style="font-size: 0.7em; color:red;"> Brand required </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Chipset</ion-label>
        <ion-input 
          type="text"
          ngModel
          name="chipset"
          #chipCtrl="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!chipCtrl.valid && chipCtrl.touched">
        <ion-label style="font-size: 0.7em; color:red;"> Chipset required </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Supported Processor</ion-label>
        <ion-input 
          type="text"
          ngModel
          name="for"
          #procsCtrl="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!procsCtrl.valid && procsCtrl.touched">
        <ion-label style="font-size: 0.7em; color:red;"> Field required </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Model</ion-label>
        <ion-input 
          type="text"
          ngModel
          name="model"
          #modelCtrl="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!modelCtrl.valid && modelCtrl.touched">
        <ion-label style="font-size: 0.7em; color:red;"> Model is required </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Price</ion-label>
        <ion-input 
          type="number"
          ngModel
          name="price"
          #priceCtrl="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!priceCtrl.valid && priceCtrl.touched">
        <ion-label style="font-size: 0.7em; color:red;"> Price field required </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Stock</ion-label>
        <ion-input 
          type="number"
          ngModel
          name="stock"
          #stockCtrl="ngModel"
          required
        >
        </ion-input>
      </ion-item>
      <ion-item *ngIf="!stockCtrl.valid && stockCtrl.touched">
        <ion-label style="font-size: 0.7em; color:red;"> Stock field required </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Image URL</ion-label>
        <ion-input
          type="text"
          ngModel
          name="imageURL"
          required
          #urlCtrl="ngModel">
        </ion-input>
        <ion-item *ngIf="!urlCtrl.valid && urlCtrl.touched">
          <ion-label style="font-size: 0.7em; color:red;"> URL is required </ion-label>
        </ion-item>
      </ion-item>
    </ion-list>
    <ion-button
      type="submit"
      color="primary"
      (click)="onSubmit()" 
      [disabled]="!form.valid"
    >
      Add New Product
    </ion-button>
  </form>
</ion-content>
